.dash-select-cell {
  background-color: #000000 !important;
}

.dash-select-header {
  background-color: #000000 !important;
}

.Select-control {
  background-color: #000000 !important;
  color: #FFFFF0 !important;
}

.Select-value-label {
  color: #FFFFF0 !important;
}

.Select-menu-outer {
  color: #FFFFF0 !important;
  background-color: #000000 !important;
}




